spring:
  application:
    name: products

  datasource:
    url: jdbc:postgresql://localhost:5433/products_db
    username: postgres
    password: 345123
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true